<#@ template language="VB" debug="True" #>
<#@ output extension="vb" #>
<#@ include file="T4Toolbox.tt" #>
<#
' <copyright file="$fileinputname$.tt" company="$registeredorganization$">
'  Copyright © $registeredorganization$. All Rights Reserved.
' </copyright>


#>
